Package: me.enggmomo.simplock
Name: simplock
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Mohammad Al-Ahdal
Author: Mohammad Al-Ahdal
Section: Tweaks
